			body {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			header {
				text-align: center;
			}

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			#nav {
				padding: 10px;
				background-color: red;
			}

			.caption {
				text-align: center;
			}

			#featured-property p {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: 800px;
			}

			.deets {
        width: 25%;
        text-align: center;
				float: left;
        background-color: red;
			}